<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.15/Tone.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
          integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
          crossorigin="anonymous">
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
</head>

<body style="background-color: #494747; color: white;">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-7">
            <form action="">
                <input id="username" type="text" placeholder="Your chess.com username">
                Month: <input id="month" type="number" min= "1" max="12" placeholder="1">
                <input type="button" value="Get Games" onclick="api_call()">
            </form>
			<div id="board" style="width: 70%; height: 70%"></div>
            <button id="changepos" onclick="changePos(); load_data()">Change board position</button>
		</div>
		<div class="col-md-3">
            <!-- todo: add game info via api call to these cards -->
            <h3>Games: </h3>
			<div class="card text-white bg-info">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>

			</div>
			<div class="card text-white bg-info">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>

			</div>
			<div class="card text-white bg-info">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>

			</div>
			<div class="card text-white bg-info">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
<script>
    function load_data(username, month) {
        fetch('http://localhost:5000/api/chess/' + username + '/2021/' + month)
            .then(response => response.json())
            .then(data => console.log(data));

    }

    function api_call() {
        var username = document.getElementById('username').value;
        var month = document.getElementById('month').value;
        load_data(username, month)
    }

    let moves = ['e7-e5', 'g1-f3','b8-c6','b1-c3','g8-f6','f1-c4','f7-e4','c3-e4','d7-d5','e4-f6','g7-f6','c4-b5','c8-f5']

    function test() {
        const synth = new Tone.Synth().toDestination(); //creates synth and connects it to main output
        synth.triggerAttackRelease("C4", "16n"); //playes synth tone C4 for duration of 16th note (8n = 8th note, 2n = half note, so on)

        
    }
    // function myFunction() {
    //     setTimeout(function(){ alert("Hello"); }, 3000);
    // }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function changePos() {
        board.move('e2-e4')
        for(let i=0;i<moves.length;i++){
            //setTimeout(() => ( ,2000);
            //setInterval(function sleep(){ for(var i=0;i<moves.length;i++){  board.move(moves[i])}  }, 3000);

            await sleep(2000);
            board.move(moves[i])

        }
    }
    

    var config = {
        draggable: true,
        dropOffBoard: 'snapback',
        onChange: test,
        position: 'start',
        pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png'
    }
    var board = Chessboard('board', config)
</script>
</html>