<!DOCTYPE html>
<html lang="en">
<head>
    
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
          }

          .button1 {font-size: 18px;}

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.15/Tone.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"s
          integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
          crossorigin="anonymous">
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
            integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
            crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
</head>
<p id="date" ></p>
<body style="background-color: #494747; color: white;">
<p id="test" hidden>test</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div >
		<div class="col-md-7 ">
            <form action="">
                
                <input id="username" type="text" placeholder="Your chess.com username">
                Month: <input id="month" type="number" min="1" max="12" placeholder="1">
                Year: <input id="year" type="number" min="2016" max="2021" placeholder="2021">
                <input class="button button1" type="button" value="Get Games" onclick="api_call()">
            </form>
			<div id="board" style="width: 70%; height: 70%"></div>
            <button class ="button button1" id="changepos" onclick="changePos()">Change board position</button>
		</div>
        
		<div class="col-md-3">
            <!-- todo: add game info via api call to these cards -->
            <h3>Games: </h3>
            <!-- GAME 1 -->
			<div class="card text-white bg-info">
                <!--Title-->
				<h5 class="card-header" id="opponent1">
					Game 1: 
				</h5>
                <div class="card-body" id="userColor_1">
					<p class="card-text">
					</p>
				</div>


				<div class="card-body" id="winner1">
					<p class="card-text">
					</p>
				</div>


                <div class="card-body" id="date2">
					<p class="card-text">
					</p>
				</div>
                
                <div class="card-body" id="moves_1" hidden>
					<p class="card-text">
					</p>
				</div>
                <div class="card-body" id="stockfish_1" hidden>
					<p class="card-text">
					</p>
				</div>
			</div>
            <!-- GAME 2 -->
			<div class="card text-white bg-info">
				<!--Title-->
                <h5 class="card-header" id="opponent2">
					Game2:
				</h5>
                <div class="card-body" id="userColor_2">
					<p class="card-text">
					</p>
				</div>

				<div class="card-body" id="winner2">
					<p class="card-text">
					</p>
				</div>

				<div class="card-body" id="date3">
					<p class="card-text">
					
					</p>
				</div>
                <div class="card-body" id="moves_2" hidden>
					<p class="card-text">
					</p>
				</div>
                <div class="card-body" id="stockfish_2" hidden>
					<p class="card-text">
					</p>
				</div>
			</div>
            <!-- GAME 3 -->
			<div class="card text-white bg-info">
                <!--Title-->
				<h5 class="card-header" id="opponent3">
					Game 3:
				</h5>
                <div class="card-body" id="userColor_3">
					<p class="card-text">
					</p>
				</div>

				<div class="card-body" id="winner3">
					<p class="card-text">
					</p>
				</div>


				<div class="card-body" id="date4">
					<p class="card-text">
					
					</p>
				</div>
                <div class="card-body" id="moves_3" hidden>
					<p class="card-text">
					</p>
				</div>
                <div class="card-body" id="stockfish_3" hidden>
					<p class="card-text">
					</p>
				</div>
			</div>
            <!-- GAME 4 -->
			<div class="card text-white bg-info">
                <!--Title-->
				<h5 class="card-header" id="opponent4">
					Game 4:
				</h5>
                <div class="card-body" id="userColor_4">
					<p class="card-text">
					</p>
				</div>

				<div class="card-body" id="winner4">
					<p class="card-text">
					</p>
				</div>


				<div class="card-body" id="date5">
					<p class="card-text">
						
					</p>
				</div>
                <div class="card-body" id="moves_4" hidden>
					<p class="card-text">
					</p>
				</div>
                <div class="card-body" id="stockfish_4" hidden>
					<p class="card-text">
					</p>
				</div>
			</div>
                        <!-- GAME Select -->
			<div class="card text-white bg-info">
                <!--Title-->
				<h5 class="card-header" >
					Game Select:
				</h5>

				<div class="card-body" >
                    <form action="">
                        <input id="gameSelect" type="text" placeholder="Enter game number 1-4">
                        <input class="button button1" type="button" value="Generate Music" onclick="game_Chose()">
                    </form>
				</div>


			</div>


		</div>
	</div>
</div>
<script>

    
    async function load_data(username, month, year) {
        await fetch('http://localhost:5000/api/chess/' + username + '/' + year+ '/' + month)
            .then(response => response.json())
            .then(data =>
                document.getElementById('test').innerHTML=JSON.stringify(data));

        after_load_data();
        
    }

    function api_call() {
        var username = document.getElementById('username').value;
        var month = document.getElementById('month').value;
        var year = document.getElementById('year').value;
        load_data(username, month, year)
        
    }

    function after_load_data() {
        const RESULT = JSON.parse(document.getElementById('test').innerHTML);
        var k=1;
        
        //opponents name, Winner, and date
        for (const property in RESULT) {

                var username2 = `${property}: ${RESULT[property].name}`;
                username2 = username2.substring(3);
                console.log(username2);


                var userColor = `${property}: ${RESULT[property].colors.name}`;
                userColor = userColor.substring(3);
                console.log(userColor);
                var uCol = username2+ ': ' + userColor; 
                console.log(uCol);
                document.getElementById(`userColor_${k}`).innerHTML=uCol;


                //gets winner
                //console.log(`${property}: ${RESULT[property].winner}`);
                var winner = `${property}: ${RESULT[property].winner}`;
                winner = winner.substring(3);
                //console.log(winner);
                var txt = 'Winner: ';
                winner = txt + winner; 
                document.getElementById(`winner${k}`).innerHTML=winner;
                
                //gets opponent
                //console.log(`${property}: ${RESULT[property].opponent}`);
                var opponent = `${property}: ${RESULT[property].opponent}`;
                opponent = opponent.substring(3);
                opponent = 'Opponent: ' + opponent;
               // console.log(opponent);
                document.getElementById(`opponent${k}`).innerHTML=opponent;
                




                //gets date
                //console.log(`${property}: ${RESULT[property].day}`);
                var day = `${property}: ${RESULT[property].day}`;
                day = day.substring(3);
               // console.log(day);
                
                //gets date
               // console.log(`${property}: ${RESULT[property].month}`);
                var month2 = `${property}: ${RESULT[property].month}`;
                month2 = month2.substring(3);
               // console.log(month2);
        
                //gets date
              //  console.log(`${property}: ${RESULT[property].year}`);
                var year = `${property}: ${RESULT[property].year}`;
                year = year.substring(3);
               // console.log(year);
        
                // //creates date
                var date2 = 'Date: '+month2+'/'+day+'/'+year;
               // console.log(date2)
                document.getElementById(`date${k+1}`).innerHTML = date2;

                //gets moves
              //  console.log(`${property}: ${RESULT[property].moves}`);
                moves = `${property}: ${RESULT[property].moves}`;
                moves = moves.substring(3)
                //console.log(typeof(moves));
               // console.log(moves);
                 document.getElementById(`moves_${k}`).innerHTML=moves; 
 

                // //Stockfish
                var scores;
               // console.log(`${property}: ${RESULT[property].scores}`);
                scores = `${property}: ${RESULT[property].scores}`;
                scores = scores.substring(3)
                //console.log(typeof(scores));
               // console.log(scores);
                document.getElementById(`stockfish_${k}`).innerHTML=scores; 
             
            if(k===4)
                break;
            
            k++;
           
        }
    }
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    var moves;
    var stockfish;
    var music= [];
    function game_Chose(){
        //const chosen = document.getElementById('gameSelect').value
        //console.log(document.getElementById(`moves_${chosen}`).value);
        var number = document.getElementById(`gameSelect`).value;
        console.log(number);
        console.log(document.getElementById(`moves_${number}`).innerHTML);
       // moves = document.getElementById(`moves_${chosen}`).value;
        //console.log("type of below")
        //console.log(typeof(moves))
        moves = document.getElementById(`moves_${number}`).innerHTML.split(',');

        //console.log(moves);

        stockfish = document.getElementById(`stockfish_${number}`).innerHTML.split(',');

        musicGeneration();
    }

    function musicGeneration(){
        var remainder = stockfish.length % 4;
        var numLoop = ((stockfish.length/4) | 0); // Double to int in javascript is kinda gay
        //console.log(`Length of stockfish ${stockfish.length} numLoop ${numLoop} remainder ${remainder}`)
        for(var i=0, x=0 ;x<numLoop;i+=4,x+=1){
            var scores = stockfish[i] + stockfish[i+1] +stockfish[i+2] +stockfish[i+3] 
            scores = ((scores/4) | 0);
            // I ii III IV V vi vii/vii7
            if(scores > 0){
                var a = Math.floor(Math.random() * 4)


                switch(a){
                    case a=0:
                        // I V vi IV C Major
                        music.push(["C4", "E4" ,"G4"]);
                        music.push(["G4", "B4" ,"D5"]);
                        music.push(["A4", "C5" ,"E5"]);
                        music.push(["F3", "Ab3" ,"C4"]);
                      
                    break;
                    case a=1:
                        // I V IV V
                        music.push(["C4", "E4" ,"G4"]);
                        music.push(["G4", "B4" ,"D5"]);
                        music.push(["F4", "A4" ,"C5"]);
                        music.push(["G4", "B4" ,"D5"]);
                        
                    break;
                        
                    case a=2:
                        // I IV I (add octave) V
                        music.push(["C4", "E4" ,"G4"]);
                        music.push(["F4", "A4" ,"C5"]);
                        music.push(["C5", "E5" ,"C5"]);
                        music.push(["G4", "B4" ,"D5"]);
                        

                    break;
                    case a=3:
                        // I (3 notes) V (3 notes) V7 (Dominant 7th) I (1st inversions) E G C E
                        music.push(["C4", "E4" ,"G4"]);
                        music.push(["G4", "B4" ,"D5"]);
                        music.push(["G4", "B4" ,"D5", "F5"]);
                        music.push(["E4", "G4" ,"C5", "E5"]);
                      
                    break;


                }
                
            } else {
                var a = Math.floor(Math.random() * 4)


                switch(a){
                    case a=0:
                        // i VI III VII C minor
                        music.push(["C4", "Eb4" ,"G4"]);
                        music.push(["Ab3", "Cb4" ,"Eb4"]);
                        music.push(["Eb4", "G4" ,"Bb4"]);
                        music.push(["Bb3", "D4" ,"F4"]);
                      
                
                    break;
                    case a=1:
                        // I V IV V
                        music.push(["F4", "Ab4" ,"C5"]);
                        music.push(["Db4", "F4" ,"Ab4"]);
                        music.push(["Ab4", "C5" ,"Eb5"]);
                        music.push(["Eb4", "G4" ,"Bb4"]);
                        
                    break;
                        
                    case a=2:
                        // I IV I (add octave) V
                        music.push(["Ab4", "Cb4" ,"Eb4"]);
                        music.push(["Fb4", "Ab4" ,"Cb5"]);
                        music.push(["Cb4", "Eb4" ,"Gb4"]);
                        music.push(["Gb4", "Bb4" ,"Db5"]);
                        

                    break;
                    case a=3:
                        // I (3 notes) V (3 notes) V7 (Dominant 7th) I (1st inversions) E G C E
                        music.push(["D4", "F4" ,"A4"]);
                        music.push(["Bb4", "D4" ,"F4"]);
                        music.push(["F4", "A4" ,"C5"]);
                        music.push(["C4", "E4" ,"G5"]);
                        
                    break;
                }
            }
            
        }
        var lastScores;
        var start = numLoop * 4;
        for(var j=0;j<remainder;j++){
            //lastScores+=stockfish[start+j];
            if(j===0){
                music.push(["G4", "B4", "D5"]); //V
            }
            if(j===1){
                music.push(["C4", "E4", "G4"]); //I
            } else {
                music.push(["C4", "E4", "G4"]); //I
            }
            
        }
        

    }
    var j=0
    function test() {
        //const synth = new Tone.Synth().toDestination(); //creates synth and connects it to main output
        //synth.triggerAttackRelease("C4", "16n"); //playes synth tone C4 for duration of 16th note (8n = 8th note, 2n = half note, so on)
        const synth = new Tone.PolySynth(Tone.Synth).toDestination();
        const now = Tone.now()

        
        synth.triggerAttack(music[j], now);
        synth.triggerRelease(music[j], now+1);

        j++;
    }

  
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

      

    async function changePos() {
       // board.move('e2-e4')
        for(let i=0;i<moves.length;i++){


            await sleep(1000);
            board.move(moves[i])

        }
    }

 
    var config = {
        draggable: true,
        dropOffBoard: 'snapback',
        onChange: test,
        position: 'start',
        pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png'
    }
    var board = Chessboard('board', config)
</script>
</body>

</html>